{% extends "control/base.html" %}
{% load static %}
{% block content %}
<br>
<div class="p-5 mx-5 card card-body">
{% if code == 'create/product' %}
<div class="alert alert-success">
    <button class="close" data-dismiss='alert'>&times;</button>
    <h4>Product successfully created</h4>
</div>
{% elif code == 'edit/product' %}
<div class="alert alert-warning">
    <button class="close" data-dismiss='alert'>&times;</button>
    <h4>Product successfully edited</h4>
</div>
{% elif code == 'delete/product' %}
<div class="alert alert-danger">
    <button class="close" data-dismiss='alert'>&times;</button>
    <h4>Product successfully deleted</h4>
</div>
{% elif code == 'title/product' %}
<div class="alert alert-danger">
    <button class="close" data-dismiss='alert'>&times;</button>
    <h4>Title is dublicated</h4>
</div>
{% endif %}



    <h3 class="text-dark pb-3">Products</h3>
    <table class="table table-striped">
        <tr>
            <th>Priority</th>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
        {% for product in products %}
        <tr>
            <th>{{product.priority}}</th>
            <td>{{product.title}}</td>
            <td>{{product.category.title}}</td>
            <td>{{product.price}}</td>
            <td><a href="{% url 'product_detail' product.slug %}" class="btn btn-secondary btn-sm">Detail</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}

{% block js %}
<script>
    let notification = document.querySelector(".alert");

    setTimeout(() => {
        notification.classList.add("d-none")
    }, 5000);
</script>
{% endblock js %}